/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Variables */
:root {
  --header-height: 3rem;
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #f7d75c;
  --tertiary-color: #fbd763;
  --title-color: #0b0a0a;
  --text-color: #403a3a;
  --container-color: #fafafa;
  --body-color: #fcfcfc;

  /* Font & Typography */
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  /* Font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Margins */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /* Z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}
/* BASE */
* {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  box-sizing: border-box;
}

.wrapped {
  margin: 0px 450px;
}
/* SKILLS BAR */
.header-content .ava-wrapped {
  position: relative;
  width: 375px;
  height: 160px;
  background-color: var(--secondary-color);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.header-content .ava-wrapped img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 40px;
  top: 0;
  border: 12px solid var(--primary-color);
}
.info-wrapped {
  width: 620px;
  padding: 40px 5px 54px 15px;
  margin: 20px 15px 0px 0px;
  background-color: var(--secondary-color);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.info2-wrapped {
  width: fit-content;
  margin: 20px 30px 0px 15px;
}
.container .info-wrapped h2 {
  margin: 30px 0px 0px 50px;
}
.container .info2-wrapped h2 {
  margin: 30px 0px 0px 0px;
}
.contact i {
  margin: 8px 0px 0px 55px;
}
.follow_me-tb i {
  margin: 8px 0px 0px 55px;
}
.follow_me-tb span {
  font-size: small;
  height: auto;
}
.skill li {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
}
.skill .skill-fl {
  display: flex;
  font-size: small;
  margin-top: 12px;
  justify-content: space-around;
}
.skill .sk_name {
  text-align: left;
  width: 20px;
}
.skill .bar {
  position: relative;
  margin-top: 7px;
  width: calc(100% - 250px);
  height: 8px;
  border-radius: 10px;
  background-color: #151515;
  box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}
.hobbies div {
  font-size: small;
  margin: 20px 0px 0px 55px;
}
.reactjs {
  width: 70%;
  animation: reactjs 3s;
}
.docker {
  width: 30%;
  animation: docker 3s;
}
.nodejs {
  width: 50%;
  animation: nodejs 3s;
}
.mysql {
  width: 50%;
  animation: mysql 3s;
}
.agile {
  width: 40%;
  animation: agile 3s;
}
.javascript {
  width: 60%;
  animation: javascript 3s;
}
.header-content {
  position: relative;
  display: flex;
}
.container {
  display: flex;
  margin-top: 80px;
}
.header-content img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.t-al {
  text-align: left;
}
table {
  position: relative;
}
.borderLine {
  position: absolute;
  border-top: 0.5px solid lightgrey;
}
.w-al {
  width: 200px;
  vertical-align: top;
}
ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}
.about_me-wrapped .my_name {
  padding: 50px 0px 20px 20px;
}
.about_me-wrapped p {
  padding: 0px 0px 20px 20px;
}
.paragraph {
  text-align: justify;
}
.info2-wrapped span {
  margin: 0px 0px 20px 20px;
}
